// * {
//   box-sizing: border-box;

// }

.eventform {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 75vw;
  height: 150px;
  background-color: paleturquoise;
  margin: 2% 3% 0 20%;
}


