.event {
  width: 50%;
  // height: 80px;
  border-style: dotted;
  border-color: red;
  display: flex;
}

.event__image {
  border-style: solid;
  border-color: red;
  height: 90%;
  width: 20%;
  display: flex;
  margin: 1%;
}

.event__title {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}

.event__description {
  display: flex;
  flex-wrap: wrap;
}