.page {
  display: grid;
  grid-template-columns: 20vw auto;
}

.sidebar {
  position: fixed;
  width: 300px;
  height: 500vw;
  padding-left: 5px;
  padding-right: 5px;
  background-color: darkblue;
}

.sidebar__menu {
  color: white;
  position: center;
  grid-column-start: 1;

  &:hover {
    background-color: deeppink;
  }
}
