@import "../styles/mixins.scss";
@import "../styles/variables.scss";


$creation-height: 11rem;

.creation {
  &__add {
    min-height: $creation-height;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &-button {
      @include button-inactive--opacity;

      &:hover {
        @include button-active--opacity;
      }
    }
  }

  &__time {
    display: flex;
  }

  &__separator {
    border: 0;
    border-bottom: 1px solid darken($white, 5%);
    width: 100%;
    margin-left: 1rem;    

  }

  &__card {
    min-height: $creation-height;
    margin-left: 3rem; 
    border-radius: 0.5rem;
    padding: 1.2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    color: $white;

    &-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 50%;
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }

  }

}
