.navbar {
  width: 100%;
  background-color: darkkhaki;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-cont {
  padding: 1%;
}

// .buttons-cont {
.button
  display: flex;
  justify-content: center;
  align-items: center;
}
  
// .register-button {
&:--register {
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 6px;
}

.register-button:hover {
  background-color: rgba(255, 170, 0, 0.37);
  color: white;
}

.login-button {
  padding: 8px 20px;
  border-radius: 6px;
}

.login-button:hover {
  background-color: rgba(255, 170, 0, 0.37);
  color: white;
}