@import "../../styles/variables.scss";

.buttonClass {
  border-radius: 1rem;
  border: 0;
  font-size: 1.5rem;
  height: 3rem;
  line-height: 1.2rem;
  margin-top: 3rem;
  margin-right: 1rem;
  width: 80%;
  border-width: 2px;
  border-style: solid;
  border-color: $white;
  color: $white;
  background-color: transparent;
}

.buttonClass:hover {
  // @include button-active;

  color: $black;
  background-color: $white;
  border: 2px solid transparent;
}

.buttonClass--danger {
  color: $danger-color;
  border-color: $danger-color;
  background-color: transparent;
}

.buttonClass--confirm {
  color: $confirm-color;
  border-color: $confirm-color;
  background-color: transparent;
}

.buttonClass--danger:hover {
  color: $white;
  background-color: $danger-color;
}

.buttonClass--confirm:hover {
  color: $green;
  background-color: $confirm-color;
}

.buttonClass:last-of-type {
  margin-right: 0;
}

.buttonClass:focus {
  outline: none;
}

.buttonClass:disabled {
  border-style: solid;
  border-color: $white;
  color: $white;
  background-color: transparent;
  opacity: 0.7;
}
